@import "tailwindcss";

:root {
  color: oklch(70.8% 0.006 264.531);
  scroll-behavior: smooth;
}

@layer components {
  .nav-item {
    padding: 10px;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
  }

  .nav-item:hover {
    background-color: oklch(55.7% 0.194 149.214);
    box-shadow: 0 2px 6px oklch(55.7% 0.194 149.214 / 0.4);
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    /* border-right-color: theme("colors.primary.200"); */
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .clip-slant {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .clip-slant-1 {
    clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0% 100%);
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@theme {
  --color-primary: oklch(62.7% 0.194 149.214);
  /* --color-text: oklch(92.8% 0.006 264.531); */
  /* --font-raleway: "Raleway", sans-serif; */
  --default-font-family: "Raleway", sans-serif;
  /* --font-mulish: "Mulish", sans-serif; */
  --color-secondary: #f3f2f1;
  --color-text: oklch(20% 0.005 264.531);
  --color-royal: #0057b7;
}
